

.home{
	#header{
		background: none;

		#logo{
			svg path{
				fill: white;
			}
		}

		.nav-main-link,#nav-toggle{
			transition: none;
			color: white;
		}

	}

	&.after,&.header-open{
		#header{
			background: white;

			#logo{
				svg path{
					fill: $dark;
				}
			}	

			.nav-main-link,#nav-toggle{
				transition: none;
				color: $dark;
			}

		}
	}

	.flexslider-full{ 

		.home-slide-image{
			//filter: brightness(.95);

			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				//border: 3px solid yellow;
				background-image: linear-gradient(to top,rgba(0,0,0,.35) 0,transparent 60%,rgba(0,0,0,.15) 100%);
				z-index: 2;
			}
		}

		.flex-caption-new{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 90px;
			margin: 0;
			z-index: 3;
			//border: 1px solid red;

			@media screen and (max-width: 768px) {
				bottom: 100px;
				left: 100px;
			}

			@media screen and (max-width: 568px) {
				left: 15px;
			}

			p{
				text-shadow: 0px 0px 60px black;
				font-family: "DINNextLTPro-Medium","Helvetica Neue",Helvetica,Arial,sans-serif !important;
				color: #fff;
				width: 39%;
				margin: 0;
				line-height: 1.15;
				text-align: left;
				font-size: 2.3vw;
				background: none;
				//filter: drop-shadow(-1px -3px 60px black);

				&.righted{
					float: right;
					text-align: right;
					border-radius: 3px 0px 0px 3px;
				}

				@media screen and (max-width: 1024px) {
					font-size: 2.8vw;
				}
				@media screen and (max-width: 768px) {
					//padding: 15px;
					//font-size: 3.7vw;
				}
				@media screen and (max-width: 568px) {
					font-size: 4.0vw;
					width: 90%;
				}

			}

		}

	}


}


#home, #about-home{
	&:before{
		position: absolute;
		content: '';
		display: block;
		top: -90px;
		left: -5%;
		width: 110%;
		height: 90px;
		box-shadow: 0px 90px 90px rgba(0,0,0,.1);
		z-index: 3;
	}

	.flexslider-full-direction{
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
		width: 100px;
		margin: 0;

		@media screen and (max-width: $md) {
			width: 100px;
		}

		@media screen and (max-width: $sm) {
			width: 60px;
		}

		&.flex-next{
			justify-content: start;
		}

		&:hover{
			.icon:before{
				transition: opacity .12s;
				opacity: 1;
			}
		}

		.icon{
			width: 100%;
		}

		.icon:before{
			opacity: .3;
			transition: opacity .12s;
			display: block;
			text-align: center;
			position: static;
			font-size: 90px;
			width: 100%;
			text-shadow: -2px -3px 20px black;

			@media screen and (max-width: $sm) {
				opacity: 1;
			}
		}
	}

	.slides{
		//display: none;
	}

	.section-footer{
		background: none;
		height: 60px;

		@media screen and (max-width: $sm) {
			height: 60px;
		}

		a .icon:before{
			color: white;
			text-shadow: 0px -3px 20px black;
			font-size: 90px !important;

			@media screen and (max-width: $sm) {
				font-size: 70px !important;
			}
		}
	}
}


#home-lift{
	background: white;

	#home-stories{
		
	}

	.container-fluid{
		padding-left: 100px;
		padding-right: 100px;
	}

	.story-row{
		display: flex;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 30px;

		@media screen and (max-width: $md) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: $sm) {
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 30px;
		}

		&.two-left{
			.story-tile-1{
				width: 67%;
				flex-basis: auto;
			}
			.story-tile-2{
				width: 33%;
				flex-basis: auto;
			}
		}

		&.two-right{
			.story-tile-2{
				width: 67%;
				flex-basis: auto;
			}
			.story-tile-1{
				width: 33%;
				flex-basis: auto;
			}
		}

		.story-tile{
			padding-left: 15px;
			padding-right: 15px;
			flex-grow: 1;
			flex-basis: 0;
			//border: 1px solid red;

			@media screen and (max-width: $sm) {
				padding-left: 10px;
				padding-right: 10px;
			}

		}

		.story-tile-image{
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			margin-bottom: 10px;
			border-radius: 1px;

			@media screen and (max-width: $sm) {
				height: 40vh;
				margin-bottom: 6px;
			}
		}

		.story-tile-label{
			text-transform: uppercase;
			font-family: "DINNextLTPro-Medium","Helvetica Neue",Helvetica,Arial,sans-serif !important;
			letter-spacing: .02em;
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 5px;

			@media screen and (max-width: $md) {
				font-size: 12px;
				margin-bottom: 3px;
			}

			@media screen and (max-width: $sm) {
				font-size: 9px;
			}
		}

		.story-tile-title{
			margin-top: 0;
			font-family: "DINNextLTPro-Medium","Helvetica Neue",Helvetica,Arial,sans-serif !important;
			font-size: 21px;
			width: 75%;

			@media screen and (max-width: $lg) {
				font-size: 18px;
				width: 100%;
			}

			@media screen and (max-width: $md) {
				font-size: 16px;

			}

			@media screen and (max-width: $sm) {
				font-size: 12px;
			}
		}
	}


}