
.page-id-3943{
	#process-nav-item{
		font-family: "DINNextLTPro-Bold","Helvetica Neue",Helvetica,Arial,sans-serif!important;
	}
}



$grid-item: 31%;
$grid-item-sm: 48%;
$grid-gutter: 3.5%;
$grid-gutter-sm: 4%;

.grid-sizer,.grid-item{
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
	}
}

.gutter-sizer{
	width: $grid-gutter;

	@media screen and (max-width: $sm) {
		width: $grid-gutter-sm;
	}	
}

#process{
	padding-top: 90px;
	//position: relative;
	//columns: 3;
	//column-gap: 50px;



	@media screen and (max-width: 992px) {
		//columns: 2;
		//column-gap: 25px;
	}

	@media screen and (max-width: 568px) {
		//columns: 1;
	}
}

.process-story{
	position: relative;	
	margin-bottom: $grid-gutter*1.2;
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
		margin-bottom: $grid-gutter-sm;
	}
	
	a:hover{
	}

	.process-story-image{
		margin-bottom: 0;
		display: block;
		border-radius: 3px;
		//box-shadow: 0px -2px 10px rgba(0,0,0,.1);
		//filter: saturate(10%);
		//margin-top: 10px;
		border: 1px solid #f0f0f0;
		margin-bottom: 8px;
	}

	.process-story-heading{
		font-family: "DINNextLTPro-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
		margin-bottom: 0;
		color: #444;
		font-size: 16px;
		padding: 0 12px;
		//border: 1px solid red;
		margin-top: 0;

		@media screen and (max-width: $md) {
			font-size: 14px;	
		}

		@media screen and (max-width: $sm) {
			font-size: 10px;
		}
	}

	.process-story-text{
		margin-top: 3px;
		font-size: 19px;
		line-height: 1.35;
		font-family: "DINNextLTPro-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
		padding: 0 12px;

		@media screen and (max-width: $lg) {
			font-size: 16px;
		}

		@media screen and (max-width: $sm) {
			font-size: 13px;
		}
	}
}