
$brand-primary: #f7ff7f; 
$brand: darken($brand-primary,0%);
$brand: #ddff81;
$brand-light: lighten($brand, 10%);

$dark: #333;

$mid: #ccc;

$light: #eee;

$error: #f2dede;

$h: 20px;

$gray: lighten(#000, 33.5%);

//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1439px;

