@import url(style-saved-adjusted.css);
@import url(style-additions.css);
.modal-mk {
  position: fixed;
  left: -100vw;
  height: auto;
  bottom: 0vh;
  z-index: 9;
  transition: opacity .25s;
  opacity: 0;
  width: 100vw; }
  .modal-mk.on {
    transition: opacity .25s;
    opacity: 1;
    left: 0vw; }
    @media screen and (max-width: 767px) {
      .modal-mk.on {
        height: 60vh;
        top: 20vh;
        bottom: auto;
        width: 80vw;
        left: 10vw;
        overflow: scroll; } }
  .modal-mk.scroll .modal-body {
    overflow: scroll; }

.modal-body {
  border: 1px solid #ddd;
  background: white;
  padding: 40px;
  padding-top: 30px;
  height: auto;
  position: relative; }
  .modal-body p {
    font-size: .95em; }
    @media screen and (max-width: 767px) {
      .modal-body p {
        font-size: 13px; } }
  @media screen and (max-width: 767px) {
    .modal-body {
      padding: 10px;
      overflow: scroll; }
      .modal-body .container {
        padding: 0; } }

.modal-close-button {
  float: right; }
  .modal-close-button .icon:before {
    font-size: 50px;
    line-height: 42px;
    color: white; }
  @media screen and (max-width: 767px) {
    .modal-close-button {
      display: none; } }

#mobile-modal-close {
  display: none;
  position: fixed;
  top: 10px;
  right: 14px;
  z-index: 10; }
  #mobile-modal-close .icon:before {
    font-size: 36px;
    line-height: 36px;
    color: white; }

.modal-blanket {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  left: -100vw;
  opacity: 0;
  background: rgba(255, 255, 255, 0.66); }

.modal-on {
  overflow: hidden; }
  .modal-on #modal-close {
    transform: translate(0%, 0%); }
  .modal-on .modal-blanket {
    left: 0;
    opacity: 1; }
  @media screen and (max-width: 767px) {
    .modal-on #mobile-modal-close {
      display: block; } }

.d-flex {
  display: flex;
  display: -ms-flexbox; }

.bg-medium, .tiles .title-tile {
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd 1%, #d1d1d1 100%);
  background: -webkit-linear-gradient(top, #dddddd 1%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #dddddd 1%, #d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#d1d1d1',GradientType=0 ); }

.debug {
  outline: 1px solid #777; }

a:focus {
  text-decoration: none; }

#home .section-footer, .page-id-77 .section-footer {
  background: rgba(255, 255, 255, 0.75);
  height: 45px; }
  #home .section-footer a, .page-id-77 .section-footer a {
    display: block;
    height: inherit;
    padding-top: 3px; }
    #home .section-footer a .icon, .page-id-77 .section-footer a .icon {
      display: block;
      margin-top: 15px; }
      #home .section-footer a .icon:before, .page-id-77 .section-footer a .icon:before {
        font-size: 70px; }

#home .flexslider-full, .page-id-77 .flexslider-full {
  height: 100vh; }
  #home .flexslider-full .flex-viewport, .page-id-77 .flexslider-full .flex-viewport {
    height: 100vh; }

#home .slides, .page-id-77 .slides {
  height: 100vh;
  max-height: 100vh;
  margin-bottom: 0; }
  #home .slides li, .page-id-77 .slides li {
    height: 100vh; }

.homefix {
  height: 100vh; }

#news {
  padding-top: 70px;
  padding-bottom: 120px;
  border-top: 1px solid #ccc; }

.news-post-title {
  font-size: 20px; }
  @media screen and (max-width: 1439px) {
    .news-post-title {
      font-size: 18px; } }
  @media screen and (max-width: 991px) {
    .news-post-title {
      font-size: 16px; } }

p.news-date {
  font-size: 15px; }
  @media screen and (max-width: 1439px) {
    p.news-date {
      font-size: 14px; } }
  @media screen and (max-width: 991px) {
    p.news-date {
      font-size: 12px; } }

.home-slides-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block; }

#header.open, .home.after #header.open {
  background: rgba(255, 255, 255, 0.95); }
  #header.open #logo svg path, .home.after #header.open #logo svg path {
    fill: #333 !important; }
  #header.open .header-top-wrapper, .home.after #header.open .header-top-wrapper {
    background: white; }
  #header.open #nav-close, .home.after #header.open #nav-close {
    top: 28px; }
  @media screen and (max-width: 767px) {
    #header.open .nav-main, .home.after #header.open .nav-main {
      left: -15px; }
    #header.open #nav-close, .home.after #header.open #nav-close {
      right: 5px;
      top: 28px; }
      #header.open #nav-close .icon:before, .home.after #header.open #nav-close .icon:before {
        font-size: 28px; } }

#header #logo {
  padding-top: 25px; }
  @media screen and (max-width: 767px) {
    #header #logo {
      padding-top: 17px; } }

#header #nav-toggle {
  display: block;
  margin-top: 0;
  height: auto;
  float: right;
  text-align: right;
  font-size: 22px;
  font-family: "DINNextLTPro-Regular","Helvetica Neue",Helvetica,Arial,sans-serif; }
  #header #nav-toggle:hover {
    color: #333; }
  #header #nav-toggle:focus {
    color: #333; }
  @media screen and (max-width: 767px) {
    #header #nav-toggle {
      margin-top: 1px;
      font-size: 19px; } }

#header.open #nav-toggle {
  font-family: "DINNextLTPro-Bold","Helvetica Neue",Helvetica,Arial,sans-serif !important; }

#header .nav-main-link {
  font-family: "DINNextLTPro-Regular","Helvetica Neue",Helvetica,Arial,sans-serif !important; }
  @media screen and (max-width: 767px) {
    #header .nav-main-link {
      display: none; } }

#header .nav-main {
  left: 0; }

#header #nav-close {
  position: fixed;
  right: -30px;
  top: -100px;
  transition: none; }
  #header #nav-close .icon:before {
    font-size: 32px; }

@media screen and (max-width: 767px) {
  #header .nav-col-category {
    display: none; } }

#header .nav-col-firm {
  display: none; }
  @media screen and (max-width: 767px) {
    #header .nav-col-firm {
      display: block; } }
  #header .nav-col-firm li {
    margin-bottom: 1.3em; }
    #header .nav-col-firm li a {
      font-size: 18px; }

@media screen and (min-width: 992px) {
  .social-link:first {
    margin-left: 0; }
  .social-link span:before {
    font-size: 20px;
    width: 1em;
    text-align: left;
    margin-bottom: .3em; }
  .social-link .icon-instagram:before {
    width: 17px;
    height: 17px;
    top: 7px; } }

.fixed-nav {
  top: 85px;
  margin-left: -10px; }

.about-section {
  margin-bottom: 100px; }

#about_publications li p {
  height: 60px; }

.project-body {
  margin-top: 0; }

.about-section .section-intro {
  margin-left: 0; }

.person {
  width: 30%;
  float: left;
  margin-right: 5%;
  margin-bottom: 30px; }
  .person.person-third {
    margin-right: 0; }
  .person h4 {
    margin-bottom: 4px;
    height: 50px; }
  .person.modal-toggle:hover {
    cursor: pointer; }
  @media screen and (max-width: 767px) {
    .person {
      width: 48%;
      height: auto;
      margin-right: 0%; }
      .person .person-image {
        width: 100%; }
      .person.person-third {
        margin-right: 0; }
      .person:nth-child(odd) {
        margin-right: 4%; }
        .person:nth-child(odd).person-third {
          margin-right: 4%; }
      .person:first-child {
        clear: both; } }

#about-nav a:focus {
  text-decoration: none;
  color: #333; }

#about-nav a:hover {
  background: #ebffb4;
  color: #333; }

.bio-link {
  display: block;
  font-size: 12px; }
  @media screen and (max-width: 767px) {
    .bio-link {
      font-size: 11px; } }

#filters ul li a:focus {
  text-decoration: none;
  color: #333; }

#filters ul li a:hover {
  background: #ebffb4; }

#filters ul li.selected a {
  background: #ddff81; }

@media screen and (max-width: 767px) {
  #about-content {
    padding-left: 0;
    padding-right: 0; } }

#about_awards .section-intro {
  width: 66%; }
  @media screen and (max-width: 767px) {
    #about_awards .section-intro {
      width: 100%; } }

#awards {
  margin-top: 60px; }
  #awards.multi-column {
    column-count: 3;
    column-gap: 7vw;
    -webkit-column-count: 3;
    -webkit-column-gap: 7vw;
    -moz-column-count: 3;
    -moz-column-gap: 7vw; }
    @media screen and (max-width: 767px) {
      #awards.multi-column {
        column-count: 1;
        column-gap: 5vw;
        -webkit-column-count: 1;
        -webkit-column-gap: 5vw;
        -moz-column-count: 1;
        -moz-column-gap: 5vw; } }
  #awards .award {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%; }
    @media screen and (max-width: 767px) {
      #awards .award {
        margin-bottom: 12px; } }
    #awards .award h4 {
      line-height: 1.2; }
  #awards .award-left {
    float: left;
    width: 40px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8; }
    #awards .award-left img {
      position: relative;
      top: 3px; }
  #awards .award-right {
    width: calc(100% - 70px);
    float: left;
    margin-left: 30px; }
  #awards .award-title {
    margin-bottom: 0px;
    margin-top: 0; }
  #awards .award-description {
    margin-top: 3px; }

#news-content {
  margin-top: 50px; }
  #news-content .first-row {
    margin-left: -15px;
    margin-right: -15px; }
  #news-content article {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0px;
    border-top: none;
    border-bottom: none; }
    #news-content article .article-left {
      margin-bottom: 15px; }
    #news-content article .news-post-title {
      line-height: 1.1;
      margin-bottom: 5px;
      margin-top: 0; }
    #news-content article .news-excerpt {
      line-height: 1.5; }
    #news-content article .more {
      text-align: left; }
    #news-content article .news-image-container {
      float: none;
      max-width: none !important;
      margin-right: 0; }
      @media screen and (max-width: 991px) {
        #news-content article .news-image-container {
          width: 61%; } }
      @media screen and (max-width: 767px) {
        #news-content article .news-image-container {
          max-width: 200px !important; } }
    #news-content article hr {
      display: block;
      margin-top: 30px;
      border-top: 1px solid #ddd; }
      @media screen and (max-width: 767px) {
        #news-content article hr {
          margin-top: 30px; } }

.twitterfeed {
  margin-top: 0;
  margin-bottom: 60px; }

.upcoming-speaking h4 {
  font-size: 17px;
  font-weight: normal;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  background: #ddff81; }

.upcoming-speaking .speaking-title {
  line-height: 1.2;
  font-size: 15px;
  padding-left: 10px; }

.upcoming-speaking .speaking {
  padding: 5px 0px 18px 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; }

.news-sidebar-social {
  margin-top: 40px; }

.twitterfeed .twitter-date {
  font-size: inherit; }

.twitterfeed li {
  font-size: 15px; }
  .twitterfeed li:nth-child(4), .twitterfeed li:nth-child(5) {
    display: none; }

@media screen and (max-width: 767px) {
  .single-project .flexslider-direction .icon:before {
    font-size: 60px !important; }
  .flexslider-full .flexslider-direction, .flexslider-full .flexslider-full-direction, .flexslider-project .flexslider-direction, .flexslider-project .flexslider-full-direction {
    margin: 0;
    width: 45px;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 191;
    display: block; }
    .flexslider-full .flexslider-direction .icon:before, .flexslider-full .flexslider-full-direction .icon:before, .flexslider-project .flexslider-direction .icon:before, .flexslider-project .flexslider-full-direction .icon:before {
      font-size: 60px !important;
      height: 60px;
      position: absolute;
      top: 50%;
      margin-top: -30px; }
    .flexslider-full .flexslider-direction.flex-next .icon:before, .flexslider-full .flexslider-full-direction.flex-next .icon:before, .flexslider-project .flexslider-direction.flex-next .icon:before, .flexslider-project .flexslider-full-direction.flex-next .icon:before {
      right: 0px; } }

.flexslider-project .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider-project .slides {
  display: block; }

* html .flexslider-project .slides {
  height: 1%; }

.no-js .flexslider-project .slides > li:first-child {
  display: block; }

.flexslider-project ul {
  margin: 0;
  padding: 0; }

.single .share-post .addthis_button_facebook {
  margin-right: 0; }

.single-post .post-content b, .single-post .post-content strong, .single-post .post-content h1, .single-post .post-content h2, .single-post .post-content h3, .single-post .post-content h4, .single-post .post-content h5, .single-post .post-content h6 {
  font-family: "DINNextLTPro-Bold","Helvetica Neue",Helvetica,Arial,sans-serif; }

.single-post .post-content ul {
  list-style: disc;
  padding-left: 20px; }

#footer .footer-nav li:hover {
  background: #ddff81; }

.blog .more .highlight {
  padding: 0; }
  .blog .more .highlight .icon {
    padding: 0;
    margin-left: 10px;
    background: none !important; }

.blog article:hover .more .highlight {
  transition: all .2s;
  padding: 15px 15px 12px 15px;
  background: #ddff81;
  color: #333; }

.blog article:hover .more .icon:before {
  color: #333; }

.block#about-home .flex-caption {
  top: 0; }

#logo img {
  margin-top: 24px; }
  @media screen and (max-width: 767px) {
    #logo img {
      margin-top: 18px; } }

/*#grid {
    width: 1160px;
    left: 260px;
}*/
/*#grid {
    width: 860px;
    left: 0;
}*/
/*#grid {
    width: 100%;
    left: 0;
}*/
/*#grid {
    width: 480px;
    left: 0;
}*/
/*#grid {
    width: 300px;
    left: 0;
}*/
/*#grid {
    width: 1120px;
    left: 260px;
}*/
#grid {
  position: relative; }

.page-id-74 #grid {
  position: relative;
  overflow: none; }
  .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
    margin-bottom: 0; }
    .page-id-74 #grid .element-small .image-container, .page-id-74 #grid .element-large .image-container {
      width: auto;
      height: auto; }
      .page-id-74 #grid .element-small .image-container img, .page-id-74 #grid .element-large .image-container img {
        height: auto !important;
        width: auto !important; }

@media screen and (max-width: 480px) {
  .page-id-74 #grid {
    width: 100%;
    left: -15px;
    margin: 0;
    margin-top: 60px; }
    .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
      width: 127px !important;
      height: 200px !important;
      margin-left: 15px; } }

@media screen and (max-width: 767px) {
  .page-id-74 #grid {
    width: 482px;
    left: -30px;
    margin: 0; }
    .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
      width: 130.333333333px !important;
      height: 200px !important;
      margin-left: 30px; } }

@media (max-width: 991px) and (min-width: 768px) {
  .page-id-74 #grid {
    width: 780px;
    left: -30px;
    margin: 0; }
    .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
      width: 229.666666667px !important;
      height: 230px !important;
      margin-left: 30px; } }

@media screen and (min-width: 992px) {
  .page-id-74 #grid {
    left: -30px;
    width: 1004px; }
    .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
      width: 304.333333333px !important;
      height: 310px !important;
      margin-left: 30px; } }

@media screen and (min-width: 992px) {
  .page-id-74 #grid {
    left: -30px;
    width: 1003px; }
    .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
      width: 304.333333333px !important;
      height: 310px !important;
      margin-left: 30px; } }

@media screen and (min-width: 1440px) {
  .page-id-74 #grid {
    left: 260px;
    width: 1092px; }
    .page-id-74 #grid .element-small, .page-id-74 #grid .element-large {
      width: 333.666666667px !important;
      height: 310px !important;
      margin-left: 30px; } }

.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
  width: 100% !important;
  height: 100% !important; }

.mejs-container {
  padding-top: 56.25%; }

.wp-video, video.wp-video-shortcode {
  max-width: 100% !important; }

video.wp-video-shortcode {
  position: relative; }

.mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.mejs-controls {
  display: none; }

.mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important; }

.flexslider-project-slide-video {
  display: none; }
  .flexslider-project-slide-video video {
    width: 100%;
    height: auto;
    max-width: 100%; }

.home-slide-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

#announcement, #news-stories {
  padding-top: 10vh;
  padding-bottom: 10vh; }

.announcement-container {
  max-width: none;
  padding: 0 200px; }
  @media screen and (max-width: 1439px) {
    .announcement-container {
      padding: 0 150px; } }
  @media screen and (max-width: 991px) {
    .announcement-container {
      padding: 0 80px; } }
  @media screen and (max-width: 767px) {
    .announcement-container {
      padding: 0 30px; } }
  @media screen and (max-width: 479px) {
    .announcement-container {
      padding: 0 15px; } }

.announcement-heading {
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 4vw; }
  @media screen and (max-width: 1439px) {
    .announcement-heading {
      font-size: 4vw; } }
  @media screen and (max-width: 991px) {
    .announcement-heading {
      font-size: 5vw; } }
  @media screen and (max-width: 767px) {
    .announcement-heading {
      font-size: 6vw;
      margin-bottom: 25px; } }
  @media screen and (max-width: 479px) {
    .announcement-heading {
      font-size: 8vw; } }

.announcements-subheading-col {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.announcement-subheading {
  line-height: 1.25;
  padding-left: 30px;
  font-size: 1.75vw;
  margin-top: 7vw;
  margin-bottom: 30px; }
  @media screen and (max-width: 1439px) {
    .announcement-subheading {
      font-size: 2.0vw; } }
  @media screen and (max-width: 991px) {
    .announcement-subheading {
      font-size: 2.5vw;
      padding-left: 15px; } }
  @media screen and (max-width: 767px) {
    .announcement-subheading {
      font-size: 3.5vw;
      padding-left: 0; } }
  @media screen and (max-width: 479px) {
    .announcement-subheading {
      font-size: 4.5vw; } }

.announcement-link-container {
  padding-left: 30px; }
  @media screen and (max-width: 991px) {
    .announcement-link-container {
      padding-left: 15px; } }
  @media screen and (max-width: 767px) {
    .announcement-link-container {
      padding-left: 0; } }
  .announcement-link-container a {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    font-size: 21px; }
    @media screen and (max-width: 1200px) {
      .announcement-link-container a {
        font-size: 18px; } }
    @media screen and (max-width: 991px) {
      .announcement-link-container a {
        font-size: 17px; } }
    @media screen and (max-width: 767px) {
      .announcement-link-container a {
        font-size: 14px; } }

.home #content .an-link span {
  margin-left: 15px; }

.home #content .an-link:hover {
  padding: 15px 15px 12px 15px;
  transition: all .2s;
  border-bottom: 1px solid transparent;
  background: #ddff81;
  color: #333; }
  .home #content .an-link:hover .icon:before {
    color: #333; }

.announcement:hover .an-link, .home-news-story:hover .an-link {
  padding: 15px 15px 12px 15px;
  transition: all .2s;
  border-bottom: 1px solid transparent;
  background: #ddff81;
  color: #333; }

@media screen and (max-width: 767px) {
  .home-news-story {
    margin-bottom: 60px; } }

.home-news-story:nth-child(1) {
  padding-left: 0;
  padding-right: 30px; }
  @media screen and (max-width: 767px) {
    .home-news-story:nth-child(1) {
      padding-left: 0px;
      padding-right: 0px; } }

.home-news-story:nth-child(2) {
  padding-left: 30px;
  padding-right: 0px; }
  @media screen and (max-width: 767px) {
    .home-news-story:nth-child(2) {
      padding-left: 0px;
      padding-right: 0px; } }

.page-id-3943 #process-nav-item {
  font-family: "DINNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

#process {
  padding-top: 90px;
  columns: 3;
  column-gap: 50px; }
  @media screen and (max-width: 992px) {
    #process {
      columns: 2; } }
  @media screen and (max-width: 568px) {
    #process {
      columns: 1; } }

.process-story {
  display: inline-block;
  margin-bottom: 3.5em; }
  .process-story .process-story-image {
    margin-bottom: 0;
    display: block;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px; }
  .process-story .process-story-heading {
    font-family: "DINNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-bottom: 0;
    color: #444;
    padding: 0 12px; }
  .process-story .process-story-text {
    margin-top: 5px;
    font-size: 19px;
    line-height: 1.35;
    font-family: "DINNextLTPro-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 12px; }
    .process-story .process-story-text:after {
      content: '';
      display: none;
      width: 100%;
      height: 1px;
      background: #eee;
      margin-top: 1em; }

.home #header {
  background: none; }
  .home #header #logo svg path {
    fill: white; }
  .home #header .nav-main-link, .home #header #nav-toggle {
    transition: none;
    color: white; }

.home.after #header, .home.header-open #header {
  background: white; }
  .home.after #header #logo svg path, .home.header-open #header #logo svg path {
    fill: #333; }
  .home.after #header .nav-main-link, .home.after #header #nav-toggle, .home.header-open #header .nav-main-link, .home.header-open #header #nav-toggle {
    transition: none;
    color: #333; }

.home .flex-caption {
  left: 130px;
  right: 0;
  bottom: 130px;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .home .flex-caption {
      bottom: 100px;
      left: 100px; } }
  @media screen and (max-width: 568px) {
    .home .flex-caption {
      left: 15px; } }
  .home .flex-caption p {
    text-shadow: 1px 3px 25px black;
    font-family: "DINNextLTPro-Regular","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #fff;
    width: 39%;
    margin: 0;
    line-height: 1.1;
    text-align: left;
    font-size: 2.3vw;
    background: none;
    padding: none; }
    .home .flex-caption p.righted {
      float: right;
      text-align: right;
      border-radius: 3px 0px 0px 3px; }
    @media screen and (max-width: 1024px) {
      .home .flex-caption p {
        font-size: 2.8vw; } }
    @media screen and (max-width: 568px) {
      .home .flex-caption p {
        font-size: 4.0vw;
        width: 90%; } }

#home:before {
  position: absolute;
  content: '';
  display: block;
  top: -100px;
  left: -5%;
  width: 110%;
  height: 100px;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.65);
  z-index: 3; }

#home .flexslider-full-direction {
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0; }
  @media screen and (max-width: 991px) {
    #home .flexslider-full-direction {
      width: 100px; } }
  @media screen and (max-width: 767px) {
    #home .flexslider-full-direction {
      width: 60px; } }
  #home .flexslider-full-direction.flex-next {
    justify-content: start; }
  #home .flexslider-full-direction:hover .icon:before {
    transition: opacity .12s;
    opacity: 1; }
  #home .flexslider-full-direction .icon {
    width: 100%; }
  #home .flexslider-full-direction .icon:before {
    opacity: .3;
    transition: opacity .12s;
    display: block;
    text-align: center;
    position: static;
    font-size: 90px;
    width: 100%;
    text-shadow: -2px -3px 20px black; }
    @media screen and (max-width: 767px) {
      #home .flexslider-full-direction .icon:before {
        opacity: 1; } }

#home .section-footer {
  background: none;
  height: 75px; }
  @media screen and (max-width: 767px) {
    #home .section-footer {
      height: 60px; } }
  #home .section-footer a .icon:before {
    color: white;
    text-shadow: 0px -3px 20px black;
    font-size: 90px !important; }
    @media screen and (max-width: 767px) {
      #home .section-footer a .icon:before {
        font-size: 70px !important; } }

#footer-social .social-link span:before {
  margin-top: 23px; }
  @media screen and (max-width: 767px) {
    #footer-social .social-link span:before {
      margin-top: 32px; } }

@media screen and (max-width: 767px) {
  #footer #footer-right {
    float: right !important; } }

#footer .nav-col-firm {
  display: none; }
  #footer .nav-col-firm .social-item {
    display: none; }
  @media screen and (max-width: 767px) {
    #footer .nav-col-firm {
      display: block;
      margin-top: 2em; }
      #footer .nav-col-firm li {
        margin-bottom: .75em;
        padding-left: 0; }
        #footer .nav-col-firm li a {
          font-size: 17px; } }
